## GENERAL VARIABLES
PROD_URL="https://richtato.com"
VITE_API_BASE_URL='http://localhost:8000/api/v1'
DEPLOY_STAGE='PROD'
POSTGRES_HOST='db'
POSTGRES_DB='richtato'
POSTGRES_USER='richtato'
POSTGRES_PASSWORD='richtato_password'
POSTGRES_PORT='5432'

# PROD DB
DATABASE_URL=

# OPENAI
OPENAI_API_KEY=

# Django Secret
SECRET_KEY =

# Teller
VITE_TELLER_APP_ID='app_plltj26cnov2mv4vce000'
VITE_TELLER_ENV="development"
TELLER_CERT_PATH='/Users/alan/richtato/teller/certificate.pem'
TELLER_KEY_PATH='/Users/alan/richtato/teller/private_key.pem'
TELLER_TRANSACTION_LIMIT=500
