## GENERAL VARIABLES
PROD_URL="https://richtato.com"
VITE_API_BASE_URL='http://localhost:8000/api/v1'
POSTGRES_HOST='db'
POSTGRES_DB='richtato'
POSTGRES_USER='richtato'
POSTGRES_PASSWORD='richtato_password'
POSTGRES_PORT='5432'

# OPENAI
OPENAI_API_KEY=

# Django Secret
SECRET_KEY =django-insecure-9x7k2m4p6q8r1s3t5v7w9y1b3d5f7h9j1k3m5n7p9r1s3t5v7w9y1

# Plaid
PLAID_CLIENT_ID=
PLAID_SECRET=
PLAID_ENV=sandbox
