Django>=4.0,<5.0
pandas
google-generativeai
fuzzywuzzy
colorama
psycopg2-binary
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gspread
gspread-formatting
gspread-dataframe
openpyxl
python-Levenshtein
