{% extends "layout.html" %}
{% load static %}

{% block body %}
    <div class="bar-chart">
        <!-- <h1>2024 Spending</h1>
        <br> -->
        <canvas id="myChart3"></canvas>
    </div>

    <div class="detailed-table">
        <br>
        <h2 id="table-title"></h2>
        <table class="styled-table" id="detailsTable"></table>
    </div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'richtato/script.js' %}"></script>
    <script>
        // Run the fetchChartData function from script.js
        const dataUrl = "{% url 'plot_data' %}";
        fetch("{% url 'get_sql_data_json' %}")
            .then(response => response.json())
            .then(tableData => {
                console.log("fetch data");
                console.log(tableData);
                
                // Call the chart function after data is successfully fetched
                stackedFetchChartData(dataUrl, "myChart3", tableData);
            })
            .catch(error => console.error('Error:', error));
        
    </script>
{% endblock %}
