{% extends "layout.html" %}
{% load static %}

{% block body %}  
    <div class="page-container">
        <div class="page-title">
            <h1>Earnings</h1>
        </div>
        
        {% if years %}
            <div class="year-filter">
                <label for="year-filter">Year:</label>
                <select id="year-filter" name="year-filter">
                    {% for year in years %}
                        <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="bar-chart">
                <canvas id="barChart"></canvas>
            </div>
        {% endif %}
        <div class="detailed-table">
            <div class="table-header">
                <h2 class="table-title" id="detailed-table-title-1"></h2>
                <h2 class="table-title" id="detailed-table-title-2"></h2>
            </div>
            <table class="styled-table" id="detailsTable"></table>
            <button class="btn-secondary editButton" id="editButton" onclick="editTable('detailsTable', 'editButton')">Edit</button>
        </div>
        

            <div class="login-form">
                <h2 class="subtitle">Add an Earnings Transaction</h2>
                <form method="post" action="{% url 'add_earnings_entry' %}">
                    {% csrf_token %}

                    <!-- Account field -->
                    <div class="form-group">
                        <label for="account">Account:</label>
                        <select class="form-control" id="account" name="account" required>
                            {% for account in accounts %}
                                <option value="{{ account }}">{{ account }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <br>
                    
                    <!-- Description field -->
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <input class="form-control" type="text" id="description" name="description" required>
                    </div>
        
                    <br>

                    <!-- Amount field -->
                    <div class="form-group">
                        <label for="amount">Amount:</label>
                        <input class="form-control" type="number" step="0.01" id="amount" name="amount" required>
                    </div>

                    <br>
                    
                    
                    <!-- Date field -->
                    <div class="form-group">
                        <label for="date">Date:</label>
                        <input class="form-control" type="date" id="balance-date" name="balance-date" value="{{ today_date }}" required>
                    </div>

                    <br>

                    <button type="submit" class="btn-secondary">Add Entry</button>
                </form>
            </div>  
    </div>
    
    <script>      
        document.addEventListener('DOMContentLoaded', () => {
            const yearFilter = document.getElementById('year-filter');
            if (yearFilter) {
                yearFilter.addEventListener('change', () => {
                    console.log("Year filter change event triggered");
                    fetchDataAndUpdateChart();
                });
            }
    
            // Initial fetch and chart setup
            fetchDataAndUpdateChart();
        });
        
        // Function to fetch data and update chart
        function fetchDataAndUpdateChart() {
            const graphDataUrl = "{% url 'plot_earnings_data' %}";
            const tableDataUrl = "{% url 'get_earnings_data_json' %}";
            console.log("Fetching table data");
            fetch(tableDataUrl)
                .then(response => response.json())
                .then(tableData => {
                    console.log("Table data received:", tableData);
                    // Call the chart function after data is successfully fetched
                    plotBarChart(graphDataUrl, "barChart", tableData, group_by="Description");
                })
                .catch(error => console.error('Error fetching table data:', error));
        }

        function saveTable(tableID, editButtonID) {
            const table = document.getElementById('detailsTable');
            const rows = table.rows;
            const data = [];
            const account = document.getElementById('account').value;

            for (let i = 1; i < rows.length; i++) { // Skipping the header row
                const row = rows[i];
                const cells = row.cells;

                // Extracting values from input fields
                const row_data = {
                    "date": cells[0].querySelector('input').value,  // Get input value for date
                    "account_name": cells[1].querySelector('input').value,  // Get input value for description
                    "amount": cells[2].querySelector('input').value,  // Get input value for amount
                    "id": cells[3].querySelector('input').value,  // Get hidden input value for id
                    "description": document.getElementById("detailed-table-title-1").innerText,  // Get input value for category
                };

                data.push(row_data);
            }

            console.log("Data to be saved:", data);

            // Sending data via fetch
            fetch("{% url 'update_earnings' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(result => {
                console.log("Data successfully saved:", result);
                
                // Convert table back to non-editable state
                for (let i = 1; i < rows.length; i++) {  // Skipping the header row
                    const row = rows[i];
                    const cells = row.cells;

                    // Revert each input field back to plain text by using their current values
                    cells[0].innerHTML = cells[0].querySelector('input').value;  // Replace input with plain text for date
                    cells[1].innerHTML = cells[1].querySelector('input').value;  // Replace input with plain text for description
                    const sanitizedAmount = cells[2].querySelector('input').value.replace(/[$,]/g, '');
                    cells[2].innerHTML = `$${parseFloat(sanitizedAmount).toFixed(2)}`;
                    cells[3].innerHTML = cells[3].querySelector('input').value;  // Replace input with plain text for category
                }

                // Change 'Save' button back to 'Edit'
                const editButton = document.getElementById('editButton');
                editButton.textContent = 'Edit';
                editButton.style.backgroundColor = '';  // Reset the button color
                editButton.onclick = function() {
                    editTable(tableID, editButtonID);
                };  // Switch back to the editTable function

                fetchDataAndUpdateChart();  // Update the chart after saving data   
            })
            .catch(error => {
                console.error('Error saving data:', error);
            });
        }

    </script>
{% endblock %}