{% extends "layout.html" %}
{% load static %}

{% block body %}
<div class="login-container">
    <div class="login-form">
        <h2>Log in to Richtato</h2>
        <br>
        <form action="{% url 'view_login' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" class="form-control" required value="{{ username }}">
            </div>
            <br>
            <div class="form-group">
                <label for="login-password">Password</label>
                <div class="password-container">
                    <input type="password" id="password" name="password" class="form-control" required>
                    <button type="button" onclick="togglePasswordVisibility('password', this)" class="show-password">Show</button>
                </div>                
                {% if message %}
                    <div class="wrong-password">{{message}}</div>
                {% endif %}
            </div>
            <input class="btn-primary" type="submit" value="Log In">
        </form>
        <br>
        <br>
        Not on Richtato? <a href="{% url 'view_register' %}">Create an account</a>
    </div>
</div>
{% endblock %}
