{% extends "layout_v2.html" %}
{% load static %}
{% load humanize %}
{% block body %}

<div class="page-container">
    <div id="Card Settings" class="settings-form">
        <h2>Card Accounts</h2>

        <div class="form-group">
            <table class="styled-table" id="settings-card-table">
                <thead>
                    <tr>
                        <th style="display:none">Delete</th>
                        <th style="display:none">Card ID</th>
                        <th>Card Name</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Rows will be populated here by JavaScript -->
                </tbody>
            </table>

            <button class="btn-secondary editButton" id="settingsCardEditButton">Edit</button>


            <form class="settings-add-form" , method="post" action="{% url 'settings_add_card'%}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="account-name">Card Name</label>
                    <input class="form-control" id="account-name" name="account-name" type="string" required>
                </div>


                {% if error_card_message %}
                <div class="wrong-password">{{error_card_message}}</div>
                {% endif %}

                <input class="btn-secondary" id="submit-balance" type="submit" value="Add">
            </form>
        </div>
    </div>

    <div id="Account Settings" class="settings-form">
        <div class="form-group">
            <h2>Accounts</h2>
            <table class="styled-table" id="settings-accounts-table">
                <thead>
                    <tr>
                        <th style="display:none">Delete</th>
                        <th style="display:none">Card ID</th>
                        <th>Account Name</th>
                        <th>Account Type</th>
                        <th>Date</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Rows will be populated here by JavaScript -->
                </tbody>
            </table>

            <button class="btn-secondary editButton" id="settingsAccountEditButton">Edit</button>

            <form class="settings-add-form" method="post" action="{% url 'settings_add_account'%}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="account-type">Account Type</label>
                    <select class="form-control" id="account-type" name="account-type" required>
                        {% for value, label in account_types %}
                        <option value="{{ value }}">{{ label }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="account-name">Account Name</label>
                    <input class="form-control" id="account-name" name="account-name" type="string" required>
                </div>

                <div class="form-group">
                    <label for="account-name">Balance Date</label>
                    <input class="form-control" type="date" id="balance-date" name="balance-date"
                        value="{{ today_date }}" required>
                </div>

                <div class="form-group">
                    <label for="firstname">Balance</label>
                    <input class="form-control" id="balance-input" name="balance-input" type="number" min="0.01"
                        step="0.01" required>
                </div>

                {% if error_account_message %}
                <div class="wrong-password">{{error_account_message}}</div>
                {% endif %}
                <input class="btn-secondary" id="submit-balance" type="submit" value="Add">
            </form>
        </div>
    </div>

    <div id="Category Settings" class="settings-form">
        <h2>Categories and Keywords</h2>
        <div class="form-group">
            <table class="styled-table" id="settings-categories-table">
                <thead>
                    <tr>
                        <th style="display:none">Delete</th>
                        <th style="display:none">Card ID</th>
                        <th>Categories</th>
                        <th>Keywords</th>
                    </tr>
                </thead>

                <tbody>
                    <!-- Rows will be populated here by JavaScript -->
                </tbody>
            </table>

            <button class="btn-secondary editButton" id="settingsCategoryEditButton">Edit</button>

            <form class="settings-add-form" method="post" action="{% url 'settings_add_category'%}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="category-name">Category</label>
                    <input class="form-control" id="category-name" name="category-name" type="string" required>
                </div>

                <div class="form-group">
                    <label for="category-keyword">Keyword</label>
                    <input class="form-control" id="category-keywords" name="category-keywords" type="string" required>
                </div>

                <div class="form-group">
                    <label for="category-keyword">Budget</label>
                    <input class="form-control" id="category-budget" name="category-budget" type="string" required>
                </div>

                <div class="form-group">
                    <label for="category-keyword">Type</label>
                    <select class="form-control" id="category-type" name="category-type" required>
                        {% for value, label in category_types %}
                        <option value="{{ value }}">{{ label }}</option>
                        {% endfor %}
                    </select>
                </div>

                {% if error_card_message %}
                <div class="wrong-password">{{error_card_message}}</div>
                {% endif %}

                <input class="btn-secondary" id="submit-balance" type="submit" value="Add">
            </form>
        </div>
    </div>

    <div id="Category Settings" class="settings-form">
        <h2>Google Sheets</h2>

        {% if google_sheets_link %}
            
            <div class="google-sheets-actions">
                <button class="btn-primary" onclick="window.open('{{ google_sheets_link }}', '_blank')">
                    Open Google Sheets
                </button>
            
                <form action="{% url 'settings_import_google_sheets_data' %}" method="post" class="import-form">
                    {% csrf_token %}
                    <button type="submit" class="btn-secondary" id="importGoogleSheetsButton">Import from Google Sheets</button>
                </form>
            
                <form action="{% url 'settings_export_google_sheets_data' %}" method="post" class="export-form">
                    {% csrf_token %}
                    <button type="submit" class="btn-secondary" id="exportGoogleSheetsButton">Export to Excel</button>
                    <p>{{ export_excel_file_path }}</p>
                </form>
            </div>

        {% else %}
            <p>Generate Google Sheets template</p>
            <ol>
                <li>Create a blank Google Sheets.</li>
                <li>Click share.</li>
                <li>Provide <strong>richtato@gen-lang-client-0729966195.iam.gserviceaccount.com</strong> edit access.</li>
            </ol>
            <form action="{% url 'settings_generate_google_sheets_templates' %}" method="post">
                {% csrf_token %}
                <input id="googleSheetsLink" name="googleSheetsLink" type="text" placeholder="Enter Google Sheets link" style="width: 500px;">
                <button class="btn-secondary" id="generateGoogleSheetsTempalateButton">Generate Template</button>
            </form>
        {% endif %}
        <br>
        
        
    </div>
</div>

<script src="{% static 'richtato/script.js' %}"></script> 
<script src="{% static 'richtato/plotter.js' %}"></script> 
<script src="{% static 'richtato/settings.js' %}"></script>

{% endblock %}