{% extends "layout.html" %} {% load static %} {% block body %}
<div class="page-container">
  <div class="chart-form-container">
    {% if years %}

    <div class="chart-container">
      <div class="chart-title-container">
        <h1 class="chart-title">Income</h1>

        <div class="dropdown-filter">
          <label for="year-filter"></label>
          <select id="year-filter" name="year-filter" class="modern-dropdown">
            {% for year in years %}
            <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="chart-title-container">
        <h1 class="chart-title">Group By</h1>
        <div class="dropdown-filter">
          <select id="group-by-filter" name="group-by-filter" class="modern-dropdown">
            <option value="account">Account</option>
            <option value="description">Description</option>
          </select>
        </div>
      </div>

      <canvas class="chart" id="incomeBarChart"></canvas>
    </div>
    {% endif %}

    <div class="form-container">
      <h2 class="form-subtitle">Add Income</h2>
      <form method="post" action="add-entry/">
        {% csrf_token %}

        <!-- Account field -->
        <div class="form-group">
          <label for="account">Account:</label>
          <select class="form-control modern-dropdown" id="account" name="account" required>
            {% for account in accounts %}
            <option value="{{ account }}">{{ account }}</option>
            {% endfor %}
          </select>
        </div>

        <!-- Description field -->
        <div class="form-group">
          <label for="description">Description:</label>
          <input
            class="form-control"
            type="text"
            id="description"
            name="description"
            value="Payroll"
            required
          />
        </div>

        <!-- Amount field -->
        <div class="form-group">
          <label for="amount">Amount:</label>
          <input
            class="form-control"
            id="balance-input"
            type="text"
            id="balance-input"
            id="amount"
            name="amount"
            required
          />
        </div>

        <!-- Date field -->
        <div class="form-group">
          <label for="date">Date:</label>
          <input
            class="form-control"
            type="date"
            id="balance-date"
            name="balance-date"
            value="{{ today_date }}"
            required
          />
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn-secondary">Add Entry</button>
      </form>
    </div>
  </div>

  <div class="detailed-table" style="display: none">
    <div class="table-header">
      <h2 class="table-title" id="detailed-table-title-1"></h2>
      <h2 class="table-title" id="detailed-table-title-2"></h2>
    </div>

    <table class="styled-table" id="detailsTableIncome">
      <thead></thead>
      <tbody>
        <!-- Rows will be inserted here dynamically -->
      </tbody>
    </table>

    <button class="btn-secondary editButton" id="detailsTableEditButton">
      Edit
    </button>
  </div>
</div>

<script src="{% static 'richtato/plotter.js' %}"></script>
<script src="{% static 'richtato/income.js' %}"></script>

{% endblock %}
