<!-- prettier-ignore-start -->
{% extends 'auth_base.html' %} {% block title %}Reset Password{% endblock %}
<!-- prettier-ignore-end -->

<!-- prettier-ignore-start -->
{%block auth_title %}Reset Password{% endblock %}
<!-- prettier-ignore-end -->

{% block content %}
<div class="login-container">
  <div class="form-container">
    <div class="login-header">
      <h2>Reset Your Password</h2>
    </div>
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="id_email">Email</label>
        <input
          type="email"
          name="email"
          id="id_email"
          required
          class="form-control"
        />
      </div>
      <button class="primary-button" type="submit">Send Reset Link</button>
    </form>
  </div>
</div>
{% endblock %}
