{% extends "layout.html" %} {% load static %} {% load humanize %} {%block body%}

<div class="page-container">
  <div class="chart-form-container">
    {% if years %}
    <div class="chart-container">
      <label for="year-filter">Year</label>
      <select id="year-filter" name="year-filter">
        {% for year in years %}
        <option value="{{ year }}">{{ year }}</option>
        {% endfor %}
      </select>

      <h1 class="chart-title">Networth: {{ networth }}</h1>

      <label for="group-by-filter">Group By</label>
      <select id="group-by-filter" name="group-by-filter">
        <option value="name">Name</option>
        <option value="type">Type</option>
      </select>

      <canvas id="accountBarChart"></canvas>
    </div>
    {% endif %}

    <div class="form-container">
      <h2 class="subtitle">Update Balance</h2>
      <form method="post" action="add-entry/">
        {% csrf_token %}
        <div class="form-group">
          <label for="account-id">Account</label>
          <select
            class="form-control"
            id="account-id"
            name="account-id"
            required
          >
            {% for id, name in account_options %}
            <option value="{{id}}">{{ name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="balance-input">Amount</label>
          <input
            class="form-control"
            type="text"
            id="balance-input"
            name="balance-input"
            required
          />
        </div>
        <div class="form-group">
          <label for="balance-date">Date</label>
          <input
            class="form-control"
            type="date"
            id="balance-date"
            name="balance-date"
            value="{{ today_date }}"
            required
          />
        </div>
        <button type="submit" class="btn-secondary">Update</button>
      </form>
    </div>

    <div class="detailed-table" style="display: none">
      <h2 class="table-header" id="detailed-table-title-1"></h2>
      <h2 class="table-header" id="detailed-table-title-2"></h2>
      <table class="styled-table" id="detailsTableAccount">
        <thead></thead>
        <tbody>
          <!-- Rows will be inserted here dynamically -->
        </tbody>
      </table>
      <button class="editButton" id="detailsTableEditButton">Edit</button>
    </div>
  </div>
</div>

<script src="{% static 'richtato/plotter.js' %}"></script>
<script src="{% static 'richtato/account.js' %}"></script>

{% endblock %}
