html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: white;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  margin: 0 auto;
  height: 100vh;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* Maintain minimum height of 100vh */
}

.login-header {
  text-align: center;
  margin-bottom: 50px;
}

.login-footer {
  margin-top: 20px;
  text-align: center;
}

.settings-form {
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  padding-bottom: 50px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.settings-form h2 {
  text-align: center;
}

.wrong-password {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.settings-add-form {
  padding-top: 20px;
}

.form-group {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.password-container {
  position: relative;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  background-color: black;
  color: white;
  border-radius: 4px;
  box-sizing: border-box;
  appearance: none;
  /* Reset browser-specific styling */
  -webkit-appearance: none;
  /* Reset browser-specific styling for WebKit browsers */
}

input[type="text"],
input[type="email"],
input[type="password"] {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  background-color: black;
  color: white;
  border-radius: 4px;
  box-sizing: border-box;
  appearance: none;
  /* Reset browser-specific styling */
  -webkit-appearance: none;
  /* Reset browser-specific styling for WebKit browsers */
}

.show-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  color: #007bff;
  outline: none;
}

.btn-primary {
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  display: inline-block;
}

.btn-secondary {
  width: 100%;
  padding: 10px;
  background-color: #98cc2c;
  color: black;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  display: inline-block;
}

.btn-primary:hover {
  background-color: #444;
}

.login-link {
  text-align: center;
  margin-top: 20px;
}

.login-link a {
  font-size: 14px;
  color: #000;
  text-decoration: underline;
}

@media (max-width: 576px) {
  .login-container {
    padding: 10px;
  }
}

.table-title {
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center; /* Center the text inside the container */
  flex-direction: column; /* Ensure the text stays in a column (not a row) */
}

.detailed-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
  min-width: 700px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #dddddd;
  /* Adds border around the table */
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  /* Increases spacing between columns */
  border: 1px solid #dddddd;
  /* Adds lines between rows and columns */
  text-align: left;
  /* Ensures text is aligned to the left */
}

.styled-table thead tr {
  background-color: black;
  color: #ffffff;
  text-align: left;
}

.styled-table tbody tr:hover {
  background-color: #98cc2c;
}

.dropdown-filter {
  margin-right: 5px;
}

.dropdown-filter select {
  padding-left: 10px;
  font-size: 22px;
  color: #98cc2c;
  appearance: none;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  outline: none;
  background: transparent; /* Transparent background */
}

.dropdown-filter select:focus {
  outline: none; /* Removes the default outline when focused */
}

.dropdown-filter select:hover {
  border-color: #888; /* Highlight border on hover */
}

.page-title {
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

/* Year filter dropdown styling */
.dropdown-filter {
  text-align: center;
}

.dropdown-filter label {
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
}

/* Chart and form container layout */
.chart-form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

/* Chart container styling */
.chart-container {
  flex: 1 1 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  width: 100%;
  box-sizing: border-box;
}

.chart {
  height: 80vh;
  max-width: 100%;
}

.categoryChart {
  max-height: 70vh;
  max-width: 80%;
}

/* Chart title styling */
.chart-title {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  display: inline-block;
}

.chart-title-container {
  display: flex;
  justify-content: center; /* Centers the content horizontally */
  align-items: center;
}

/* Form container styling */
.form-container {
  flex: 0 0 auto;
  width: 20%;
  max-width: 500px;
  margin-top: 5%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  align-self: flex-start;
}

/* Form subtitle styling */
.form-subtitle {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

/* Form group styling */
.form-group {
  margin-bottom: 20px;
}

/* Responsive design for smaller screens */
@media (max-width: 900px) {
  .chart-form-container {
    flex-direction: column;
  }

  .chart-container {
    width: 100%;
    min-width: unset;
  }

  .form-container {
    width: 80%;
    justify-content: center;
    align-self: center;
  }
}

.category-dropdown-filter {
  padding-top: 100%;
}

.title-dropdown-filter {
  color: #98cc2c;
  font-size: 12px;
  background-color: #121212;
}
