{% extends "layout.html" %}
{% load static %}

{% block body %}
    <div class="bar-chart">
        <h1>2024 Spending</h1>
        <canvas id="myChart3"></canvas>
    </div>

    <div class="detailed-table">
        <br>
        <h2 id="table-title"></h2>
        <table class="styled-table" id="detailsTable"></table>
    </div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'richtato/script.js' %}"></script>
    <script>
        // Run the fetchChartData function from script.js
        const AMEXDataUrl = "{% url 'master_data' %}";
        stackedFetchChartData(AMEXDataUrl, "myChart3");
    </script>
{% endblock %}
