{% extends "layout.html" %}
{% load static %}

{% block body %}
<link rel="stylesheet" href="{% static 'home.css' %}">
<script>
    var staticImagePath = "{% static 'media/moneytree.png' %}";
</script>

<div class="home-page">
    <div class="home-container">
        <div class="gif-container">
            <img src="{% static 'media/moneytree.gif' %}" alt="Growth GIF" class="growth-gif" id="growth-gif">
        </div>
        <div class="typewriter">
            <div class="typewriter-text">Save with Richtato!</div>
        </div>
    </div>
</div>
{% endblock %}