{% extends 'base.html' %} {% load static %}
<!-- prettier-ignore-start -->
{% block title %} Assets {% endblock %}
<!-- prettier-ignore-start -->
{% block content %}
<div class="main-content">
  <div class="title">
    <h1>Assets</h1>
  </div>
  <div class="main-content-boxes">
    <div class="box">
      <div class="box-section1">
        <div class="box-title">
          <h2>Accounts</h2>
        </div>
      </div>
      <div class="general-info-section2">
        <div class="table-responsive">
          <table class="data-table" id="assetsTable">
            <thead></thead>
            <tbody>
              <!-- Rows will be inserted here dynamically -->
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="box">
      <div class="box-section1">
        <div class="box-title">
          <h2>Account Details</h2>
        </div>
      </div>
      <div class="general-info-section2">
        <select id="accountDropdown" class="table-option">
          <option value="">All</option>
          {% for asset in assets %}
          <option value="{{ asset.id }}">{{ asset.name }}</option>
          {% endfor %}
        </select>
        <div class="table-responsive">
          <table class="data-table" id="detailAssetsTable">
            <thead></thead>
            <tbody>
              <!-- Rows will be inserted here dynamically -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'js/assets.js' %}"></script>
{% endblock %}
