<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'all.min.css' %}" />
  <link rel="stylesheet" href="{% static 'style.css' %}" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&amp;display=swap" rel="stylesheet" />
  <link rel="icon" href="{% static 'images/richtato.ico' %}" type="image/x-icon">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <title>{% block title %}My Website{% endblock %}</title>
</head>

<body>
  <div class="loader">
    <h1>Loading<span>....</span></h1>
  </div>
  <div class="page-content index-page">
    <div class="sidebar">
      <i class="fa-solid fa-xmark xmark"></i>
      <ul>
        <li>
          <a href="{% url 'index' %}" class="sidebar-link">
            <i class="fa-regular fa-chart-bar fa-fw"></i>
            <span>Dashboard</span>
          </a>
        </li>

        <li>
          <a href="{% url 'profile' %}" class="sidebar-link">
            <i class="fa-regular fa-user fa-fw"></i><span>Profile</span>
          </a>
        </li>

        <li>
          <a href="{% url 'goals' %}" class="sidebar-link">
            <i class="fa-solid fa-bullseye fa-fw"></i><span>Goals</span>
          </a>
        </li>

        <!-- <li>
          <a href="{% url 'friends' %}" class="sidebar-link">
            <i class="fa-regular fa-circle-user fa-fw"></i><span>Friends</span>
          </a>
        </li> -->

        <!-- <li>
          <a href="{% url 'files' %}" class="sidebar-link">
            <i class="fa-regular fa-file fa-fw"></i> <span>Files</span>
          </a>
        </li> -->

        <li>
          <a href="{% url 'input' %}" class="sidebar-link">
            <i class="fa-regular fa-keyboard fa-fw"></i> <span>Input</span>
          </a>
        </li>

        <li>
          <a href="{% url 'account_settings' %}" class="sidebar-link">
            <i class="fa-solid fa-gear fa-fw"></i>
            <span>Account Settings</span>
          </a>
        </li>

        <li>
          <a href="{% url 'user_settings' %}" class="sidebar-link">
            <i class="fa-solid fa-sliders fa-fw"></i>
            <span>User Settings</span>
          </a>
        </li>
      </ul>
    </div>
    <main>
      <div class="header">
        <i class="fa-solid fa-bars bar-item"></i>
        <div class="brand">
          <a href="{% url 'index' %}" class="brand-link">
            <img src="{% static 'images/richtato.ico' %}" alt="Richtato Logo" class="brand-logo" />
            <h3 class="brand-name">Richtato</h3>
          </a>
        </div>
        <div class="profile">
          <img src="{% static 'images/avatar.png' %}" id=navbar-profile alt="No Image" />
          <div id="profileDropdown" class="dropdown hidden">
            <ul>
              {% if user.is_authenticated %}
              <!-- Display if the user is logged in -->
              <li><a href="{% url 'profile' %}"> <i class="fa-regular fa-user fa-fw"></i>{{ username }}</a></li>
              <li><a href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket"></i>Logout</a></li>
              {% else %}
              <!-- Display if the user is not logged in -->
              <li><a href="{% url 'login' %}">Login</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
      {% block content %}
      <!-- Content to be filled by child templates -->
      {% endblock %}
    </main>
  </div>

  <!-- Appzi: Capture Insightful Feedback -->
  <script async src="https://w.appzi.io/w.js?token=JCm1L"></script>
  <!-- End Appzi -->
  <script src="{% static 'js/base.js' %}"></script>
</body>

</html>