{% extends 'base.html' %} {% load static %}
<!-- prettier-ignore-start -->
{% block title %} Budget {%endblock %}
<!-- prettier-ignore-start -->
{% block content %}

<div class="main-content">
    <div class="title">
        <h1>Budget</h1>
    </div>
    <div class="main-content-boxes wide">
        <div class="box">
            <div class="box-section1">
                <div class="box-title">
                    <h2>{{ current_year }} {{current_month}}</h2>
                </div>
            </div>
            <div class="third-box-section2" id="categories-container">
                <!-- Categories will be inserted here dynamically -->
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/core.js' %}"></script>
<script src="{% static 'js/budget.js' %}"></script>
{% endblock %}