{% extends 'base.html' %} {% load static %}
<!-- prettier-ignore-start -->
{% block title %} Budget {%endblock %}
<!-- prettier-ignore-end -->
{% block content %}

<div class="main-content">
    <div class="title">
        <h1>Budget</h1>
    </div>
    <div class="main-content-boxes wide">
        <div class="box">
            <div class="box-section1">
                <div class="box-title">
                    <select class="table-option" name="year-select" id="year">
                        {% for year in years %}
                        <!-- prettier-ignore-start -->
                        <option value="{{ year }}" {% if year == current_year %}selected{% endif %}>
                        <!-- prettier-ignore-end -->
                            {{ year }}
                        </option>
                        {% endfor %}
                    </select>

                    <select class="table-option" name="month-select" id="month">
                        {% for month in months %}
                        <!-- prettier-ignore-start -->
                        <option value="{{ month }}" {% if month == current_month %}selected{% endif %}>
                        <!-- prettier-ignore-end -->
                            {{ month }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="third-box-section2" id="categories-container">
                <!-- Categories will be inserted here dynamically -->
            </div>
        </div>
    </div>
</div>
<!-- <script src="{% static 'js/core.js' %}"></script> -->
<script src="{% static 'js/components/budgetRenderer.js' %}"></script>
<script src="{% static 'js/pages/budget.js' %}"></script>
{% endblock %}
