{% extends 'base.html' %} {% load static %}
<!-- prettier-ignore-start -->
{% block title %} Dashboard {%endblock %}
<!-- prettier-ignore-start -->
{% block content %}
<div class="main-content">
  <div class="title">
    <h1>Dashboard</h1>
  </div>
  <div class="main-content-boxes">
    <div class="box">
      <div class="box-title">
        <h2>Summary</h2>
      </div>
      <div class="fourth-box-section2">
        <div class="small-box">
          <h3>Networth</h3>
          <span class="currency">{{ networth }}</span>
        </div>

        <div class="small-box">
          <h3>Savings Rate</h3>
          <span>{{ savings_rate }}</span>
        </div>

        <div class="small-box">
          <h3>Income</h3>
          <span class="currency">{{ income_sum }}</span>
          <canvas class="mini-line-chart" id="income-overview-line-chart"></canvas>
        </div>

        <div class="small-box">
          <h3>Expenses</h3>
          <span class="currency">{{ expense_sum }}</span>
          <canvas class="mini-line-chart" id="expense-overview-line-chart"></canvas>
        </div>
      </div>
    </div>

    <div class="box">
      <div class="box-section1">
        <div class="box-title">
          <h2>Budget This Month</h2>
        </div>
      </div>
      <div class="third-box-section2" id="categories-container">
        <!-- Categories will be inserted here dynamically -->
      </div>
    </div>
  </div>
</div>
<script src="{% static 'js/budget_renderer.js' %}"></script>
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}
