{% extends 'base.html' %} {% load static %}
<!-- prettier-ignore-start -->
{% block title %} Files {%endblock %}
<!-- prettier-ignore-start -->
{% block content %}

<div class="main-content">
  <div class="title">
    <h1>Upload Statements</h1>
  </div>
  <div class="files-main-content">
    <div class="files-statistics" id="files-statistics">
      <div class="files-boxes" id="files-boxes">
        <!-- Files will be loaded here by JS -->
      </div>
      <button id="file-upload-button" class="primary-button"><i class="fa-solid fa-angles-up"></i>Upload</button>
    </div>



    <div class="drop-zone" id="drop-zone">
      <h2>Drag & Drop to Upload Statements</h2>
      <h2>OR</h2>
      <div>
        <img src="{% static 'images/upload.png' %}" alt="Upload Icon"  class="upload-icon"/>
      </div>
      <input type="file" id="file-input" multiple style="display: none" />
      <button id="select-files-button" class="primary-button">
        Select Files
      </button>
    </div>
  </div>
</div>
<script src="{% static 'js/files.js' %}"></script>
{% endblock %}