{% extends 'base.html' %} {% load static %}
<!-- prettier-ignore-start -->
{% block title %} Dashboard {%endblock %}
<!-- prettier-ignore-start -->
{% block content %}
<div class="main-content">
  <div class="title">
    <h1>Friends</h1>
  </div>
  <div class="friends-main-boxes">
    <div class="friends-box-card">
      <div class="friends-box-card-contact">
        <i class="fa-solid fa-phone"></i>
        <i class="fa-regular fa-envelope"></i>
      </div>
      <div class="friends-box-card-info">
        <img src="../images/friend-01.jpg" alt="" />
        <h4>Ahmed Nasser</h4>
        <p>JavaScript Developer</p>
      </div>
      <div class="friends-box-card-body">
        <h1>VIP</h1>
        <ul>
          <li>
            <i class="fa-regular fa-face-smile"></i><span>99 Friends</span>
          </li>
          <li>
            <i class="fa-solid fa-code-commit"></i><span>15 Projects</span>
          </li>
          <li>
            <i class="fa-regular fa-newspaper"></i><span>25 Articles</span>
          </li>
        </ul>
      </div>
      <div class="friends-box-card-footer">
        <p>Joined 02/10/2021</p>
        <div class="friends-box-card-footer-buttons">
          <a href="/#">Profile</a>
          <a href="/#">Remove</a>
        </div>
      </div>
    </div>
    <div class="friends-box-card">
      <div class="friends-box-card-contact">
        <i class="fa-solid fa-phone"></i>
        <i class="fa-regular fa-envelope"></i>
      </div>
      <div class="friends-box-card-info">
        <img src="../images/friend-02.jpg" alt="" />
        <h4>Omar Fathy</h4>
        <p>Cloud Developer</p>
      </div>
      <div class="friends-box-card-body">
        <ul>
          <li>
            <i class="fa-regular fa-face-smile"></i><span>30 Friends</span>
          </li>
          <li>
            <i class="fa-solid fa-code-commit"></i><span>11 Projects</span>
          </li>
          <li>
            <i class="fa-regular fa-newspaper"></i><span>12 Articles</span>
          </li>
        </ul>
      </div>
      <div class="friends-box-card-footer">
        <p>Joined 02/08/2020</p>
        <div class="friends-box-card-footer-buttons">
          <a href="/#">Profile</a>
          <a href="/#">Remove</a>
        </div>
      </div>
    </div>
    <div class="friends-box-card">
      <div class="friends-box-card-contact">
        <i class="fa-solid fa-phone"></i>
        <i class="fa-regular fa-envelope"></i>
      </div>
      <div class="friends-box-card-info">
        <img src="../images/friend-03.jpg" alt="" />
        <h4>Omar Ahmed</h4>
        <p>Mobile Developer</p>
      </div>
      <div class="friends-box-card-body">
        <ul>
          <li>
            <i class="fa-regular fa-face-smile"></i><span>80 Friends</span>
          </li>
          <li>
            <i class="fa-solid fa-code-commit"></i><span>20 Projects</span>
          </li>
          <li>
            <i class="fa-regular fa-newspaper"></i><span>18 Articles</span>
          </li>
        </ul>
      </div>
      <div class="friends-box-card-footer">
        <p>Joined 02/06/2020</p>
        <div class="friends-box-card-footer-buttons">
          <a href="/#">Profile</a>
          <a href="/#">Remove</a>
        </div>
      </div>
    </div>
    <div class="friends-box-card">
      <div class="friends-box-card-contact">
        <i class="fa-solid fa-phone"></i>
        <i class="fa-regular fa-envelope"></i>
      </div>
      <div class="friends-box-card-info">
        <img src="../images/friend-04.jpg" alt="" />
        <h4>Shady Nabil</h4>
        <p>Back-End Developer</p>
      </div>
      <div class="friends-box-card-body">
        <ul>
          <li>
            <i class="fa-regular fa-face-smile"></i><span>70 Friends</span>
          </li>
          <li>
            <i class="fa-solid fa-code-commit"></i><span>30 Projects</span>
          </li>
          <li>
            <i class="fa-regular fa-newspaper"></i><span>18 Articles</span>
          </li>
        </ul>
      </div>
      <div class="friends-box-card-footer">
        <p>Joined 28/06/2020</p>
        <div class="friends-box-card-footer-buttons">
          <a href="/#">Profile</a>
          <a href="/#">Remove</a>
        </div>
      </div>
    </div>
    <div class="friends-box-card">
      <div class="friends-box-card-contact">
        <i class="fa-solid fa-phone"></i>
        <i class="fa-regular fa-envelope"></i>
      </div>
      <div class="friends-box-card-info">
        <img src="../images/friend-05.jpg" alt="" />
        <h4>Mohamed Ibrahim</h4>
        <p>Algorithm Developer</p>
      </div>
      <div class="friends-box-card-body">
        <ul>
          <li>
            <i class="fa-regular fa-face-smile"></i><span>80 Friends</span>
          </li>
          <li>
            <i class="fa-solid fa-code-commit"></i><span>30 Projects</span>
          </li>
          <li>
            <i class="fa-regular fa-newspaper"></i><span>18 Articles</span>
          </li>
        </ul>
      </div>
      <div class="friends-box-card-footer">
        <p>Joined 28/08/2020</p>
        <div class="friends-box-card-footer-buttons">
          <a href="/#">Profile</a>
          <a href="/#">Remove</a>
        </div>
      </div>
    </div>
    <div class="friends-box-card">
      <div class="friends-box-card-contact">
        <i class="fa-solid fa-phone"></i>
        <i class="fa-regular fa-envelope"></i>
      </div>
      <div class="friends-box-card-info">
        <img src="../images/friend-04.jpg" alt="" />
        <h4>Amr Hendawy</h4>
        <p>Back-End Developer</p>
      </div>
      <div class="friends-box-card-body">
        <ul>
          <li>
            <i class="fa-regular fa-face-smile"></i><span>70 Friends</span>
          </li>
          <li>
            <i class="fa-solid fa-code-commit"></i><span>30 Projects</span>
          </li>
          <li>
            <i class="fa-regular fa-newspaper"></i><span>18 Articles</span>
          </li>
        </ul>
      </div>
      <div class="friends-box-card-footer">
        <p>Joined 28/06/2020</p>
        <div class="friends-box-card-footer-buttons">
          <a href="/#">Profile</a>
          <a href="/#">Remove</a>
        </div>
      </div>
    </div>
    <div class="friends-box-card">
      <div class="friends-box-card-contact">
        <i class="fa-solid fa-phone"></i>
        <i class="fa-regular fa-envelope"></i>
      </div>
      <div class="friends-box-card-info">
        <img src="../images/friend-02.jpg" alt="" />
        <h4>Mahmoud Adel</h4>
        <p>Cloud Developer</p>
      </div>
      <div class="friends-box-card-body">
        <ul>
          <li>
            <i class="fa-regular fa-face-smile"></i><span>30 Friends</span>
          </li>
          <li>
            <i class="fa-solid fa-code-commit"></i><span>11 Projects</span>
          </li>
          <li>
            <i class="fa-regular fa-newspaper"></i><span>12 Articles</span>
          </li>
        </ul>
      </div>
      <div class="friends-box-card-footer">
        <p>Joined 02/08/2020</p>
        <div class="friends-box-card-footer-buttons">
          <a href="/#">Profile</a>
          <a href="/#">Remove</a>
        </div>
      </div>
    </div>
    <div class="friends-box-card">
      <div class="friends-box-card-contact">
        <i class="fa-solid fa-phone"></i>
        <i class="fa-regular fa-envelope"></i>
      </div>
      <div class="friends-box-card-info">
        <img src="../images/friend-01.jpg" alt="" />
        <h4>Gareeb Elshiekh</h4>
        <p>JavaScript Developer</p>
      </div>
      <div class="friends-box-card-body">
        <h1>VIP</h1>
        <ul>
          <li>
            <i class="fa-regular fa-face-smile"></i><span>99 Friends</span>
          </li>
          <li>
            <i class="fa-solid fa-code-commit"></i><span>15 Projects</span>
          </li>
          <li>
            <i class="fa-regular fa-newspaper"></i><span>25 Articles</span>
          </li>
        </ul>
      </div>
      <div class="friends-box-card-footer">
        <p>Joined 02/10/2021</p>
        <div class="friends-box-card-footer-buttons">
          <a href="/#">Profile</a>
          <a href="/#">Remove</a>
        </div>
      </div>
    </div>
    <div class="friends-box-card">
      <div class="friends-box-card-contact">
        <i class="fa-solid fa-phone"></i>
        <i class="fa-regular fa-envelope"></i>
      </div>
      <div class="friends-box-card-info">
        <img src="../images/friend-05.jpg" alt="" />
        <h4>Ahmed Abuzaid</h4>
        <p>Algorithm Developer</p>
      </div>
      <div class="friends-box-card-body">
        <h1>VIP</h1>
        <ul>
          <li>
            <i class="fa-regular fa-face-smile"></i><span>80 Friends</span>
          </li>
          <li>
            <i class="fa-solid fa-code-commit"></i><span>30 Projects</span>
          </li>
          <li>
            <i class="fa-regular fa-newspaper"></i><span>18 Articles</span>
          </li>
        </ul>
      </div>
      <div class="friends-box-card-footer">
        <p>Joined 28/08/2020</p>
        <div class="friends-box-card-footer-buttons">
          <a href="/#">Profile</a>
          <a href="/#">Remove</a>
        </div>
      </div>
    </div>
    <div class="friends-box-card">
      <div class="friends-box-card-contact">
        <i class="fa-solid fa-phone"></i>
        <i class="fa-regular fa-envelope"></i>
      </div>
      <div class="friends-box-card-info">
        <img src="../images/friend-03.jpg" alt="" />
        <h4>Hamza</h4>
        <p>Front-End Developer</p>
      </div>
      <div class="friends-box-card-body">
        <ul>
          <li>
            <i class="fa-regular fa-face-smile"></i><span>80 Friends</span>
          </li>
          <li>
            <i class="fa-solid fa-code-commit"></i><span>20 Projects</span>
          </li>
          <li>
            <i class="fa-regular fa-newspaper"></i><span>18 Articles</span>
          </li>
        </ul>
      </div>
      <div class="friends-box-card-footer">
        <p>Joined 02/06/2020</p>
        <div class="friends-box-card-footer-buttons">
          <a href="/#">Profile</a>
          <a href="/#">Remove</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}