{% extends 'base.html' %} {% load static %}
<!-- prettier-ignore-start -->
{% block title %} Dashboard {%endblock %}
<!-- prettier-ignore-start -->
{% block content %}
<div class="main-content">
  <div class="title">
    <h1>Goals</h1>
  </div>

  <div class="main-content-boxes projects-main-content-boxes">
    <div class="box">
      <span>15/10/2021</span>
      <div class="projects-box-section1">
        <div class="projects-box-title">
          <span>Zana Dashboard</span>
          <p>
            Zana Dashboard Project Design And Programming And Hosting
          </p>
        </div>
        <div class="projects-box-images">
          <img src="{% static 'images/team-01.png' %}" alt="No Image" />
          <img src="{% static 'images/team-02.png' %}" alt="No Image" />
          <img src="{% static 'images/team-03.png' %}" alt="No Image" />
          <img src="{% static 'images/team-04.png' %}" alt="No Image" />
          <img src="{% static 'images/team-05.png' %}" alt="No Image" />
        </div>
        <div class="profile-skills">
          <div class="row">
            <ul>
              <li>Programming</li>
              <li>Design</li>
              <li>Hosting</li>
              <li>Marketing</li>
            </ul>
          </div>
        </div>
        <div class="progress-holder">
          <div class="progress">
            <span></span>
          </div>
          <span>$2500</span>
        </div>
      </div>
    </div>
    <div class="box">
      <span>15/6/2022</span>
      <div class="projects-box-section1">
        <div class="projects-box-title">
          <span>Academy Portal</span>
          <p>Academy Portal Project Design And Programming</p>
        </div>
        <div class="projects-box-images">
          <img src="{% static 'images/team-01.png' %}" alt="No Image" />
          <img src="{% static 'images/team-02.png' %}" alt="No Image" />
          <img src="{% static 'images/team-03.png' %}" alt="No Image" />
        </div>
        <div class="profile-skills">
          <div class="row">
            <ul>
              <li>Programming</li>
              <li>Design</li>
            </ul>
          </div>
        </div>
        <div class="progress-holder">
          <div class="progress">
            <span></span>
          </div>
          <span>$1800</span>
        </div>
      </div>
    </div>
    <div class="box">
      <span>15/6/2022</span>
      <div class="projects-box-section1">
        <div class="projects-box-title">
          <span>Chatting Application</span>
          <p>Chatting Application Project Design</p>
        </div>
        <div class="projects-box-images">
          <img src="{% static 'images/team-01.png' %}" alt="No Image" />
          <img src="{% static 'images/team-02.png' %}" alt="No Image" />
          <img src="{% static 'images/team-03.png' %}" alt="No Image" />
        </div>
        <div class="profile-skills">
          <div class="row">
            <ul>
              <li>Design</li>
            </ul>
          </div>
        </div>
        <div class="progress-holder">
          <div class="progress">
            <span></span>
          </div>
          <span>$950</span>
        </div>
      </div>
    </div>
    <div class="box">
      <span>15/6/2022</span>
      <div class="projects-box-section1">
        <div class="projects-box-title">
          <span>Ahmed Dashboard</span>
          <p>
            Ahmed Dashboard Project Design And Programming And Hosting
          </p>
        </div>
        <div class="projects-box-images">
          <img src="{% static 'images/team-01.png' %}" alt="No Image" />
          <img src="{% static 'images/team-02.png' %}" alt="No Image" />
          <img src="{% static 'images/team-03.png' %}" alt="No Image" />
          <img src="{% static 'images/team-04.png' %}" alt="No Image" />
        </div>
        <div class="profile-skills">
          <div class="row">
            <ul>
              <li>Programming</li>
              <li>Design</li>
              <li>Hosting</li>
              <li>Marketing</li>
            </ul>
          </div>
        </div>
        <div class="progress-holder">
          <div class="progress">
            <span></span>
          </div>
          <span>$1700</span>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}