{% extends 'base.html' %} {% load static %}
<!-- prettier-ignore-start -->
{% block title %} Input {% endblock %}
<!-- prettier-ignore-start -->
{% block content %}
<div class="main-content">
  <div class="title">
    <h1>Input</h1>
  </div>

  <div class="main-content-boxes">
    <div class="box">
      <div class="box-section1">
        <div class="box-title">
          <h2>Expense</h2>
        </div>
      </div>
      <div class="general-info-section2">
        <form method="post" action="add-expense/">
          {% csrf_token %}

          <div class="form-group">
            <label for="account">Card:</label>
            <select class="form-control" id="expense-account" name="account" required>
              {% for account in transaction_accounts %}
              <option value="{{ account }}">{{ account }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="description">Description:</label>
            <input class="form-control" type="text" id="expense-description" name="description" required />
          </div>

          <div class="form-group">
            <label for="amount">Amount:</label>
            <input class="form-control currency-input" id="expense-amount" name="amount" type="text" required />
          </div>

          <div class="form-group">
            <label for="date">Date:</label>
            <input class="form-control" type="date" id="expense-date" name="date" value="{{ today_date }}" required />
          </div>

          <div class="form-group">
            <label for="category">Category:</label>
            <select class="form-control" id="category" name="category" required>
              {% for category in category_list %}
              <option value="{{ category }}">{{ category }}</option>
              {% endfor %}
            </select>
          </div>

          <button type="submit" class="primary-button">Add Entry</button>
        </form>
      </div>
    </div>

    <div class="box">
      <div class="box-section1">
        <div class="box-title">
          <h2>Income</h2>
        </div>
      </div>
      <div class="general-info-section2">
        <form method="post" action="add-income/">
          {% csrf_token %}

          <!-- Account field -->
          <div class="form-group">
            <label for="account">Account:</label>
            <select class="form-control" id="income-account" name="account" required>
              {% for account in bank_accounts %}
              <option value="{{ account }}">{{ account }}</option>
              {% endfor %}
            </select>
          </div>

          <!-- Description field -->
          <div class="form-group">
            <label for="description">Description:</label>
            <input class="form-control" type="text" id="income-description" name="description" value="Payroll"
              required />
          </div>

          <!-- Amount field -->
          <div class="form-group">
            <label for="amount">Amount:</label>
            <input class="form-control currency-input" type="text" id="income-amount" name="amount" required />
          </div>

          <!-- Date field -->
          <div class="form-group">
            <label for="date">Date:</label>
            <input class="form-control" type="date" id="income-date" name="date" value="{{ today_date }}" required />
          </div>

          <!-- Submit button -->
          <button type="submit" class="primary-button">Add Entry</button>
        </form>
      </div>
    </div>

    <div class="box">
      <div class="box-section1">
        <div class="box-title">
          <h2>Recent Expenses</h2>
        </div>
      </div>
      <div class="general-info-section2">
        <div class="table-responsive">
          <table class="styled-table" id="expenseTable">
            <thead></thead>
            <tbody>
              <!-- Rows will be inserted here dynamically -->
            </tbody>
          </table>
        </div>
        <button class="primary-button" id="editExpenseTable" style="display: none !important;">
          Edit
        </button>
      </div>
    </div>
    <div class="box">
      <div class="box-section1">
        <div class="box-title">
          <h2>Recent Incomes</h2>
        </div>
      </div>
      <div class="general-info-section2">
        <div class="table-responsive">
          <table class="styled-table" id="incomeTable">
            <thead></thead>
            <tbody>
              <!-- Rows will be inserted here dynamically -->
            </tbody>
          </table>
        </div>

        <button class="primary-button" id="editIncomeTable" style="display: none !important;">
          Edit
        </button>

      </div>
    </div>

    <div class="box">
      <div class="box-section1">
        <div class="box-title">
          <h2>Expense Graph</h2>
        </div>
      </div>
      <div class="general-info-section2">
        <canvas class="line-chart" id="expenseLineChart"></canvas>
      </div>
    </div>

    <div class="box">
      <div class="box-section1">
        <div class="box-title">
          <h2>Income Graph</h2>
        </div>
      </div>

      <div class="general-info-section2">
        <canvas class="line-chart" id="incomeLineChart"></canvas>
      </div>
    </div>

  </div>
</div>

<script src="{% static 'js/input.js' %}"></script>
{% endblock %}