{% extends 'base.html' %} {% load static %}
<!-- prettier-ignore-start -->
{% block title %} Dashboard {%endblock %}
<!-- prettier-ignore-start -->
{% block content %}
<div class="main-content">
  <div class="title">
    <h1>Profile</h1>
  </div>

  <div class="profile-box">
    <div class="profile-info">
      <img src="{% static 'images/avatar.png' %}" alt="" />
      <h3>{{ username }}</h3>
    </div>
    <div class="profile-info-section2">
      <div class="row">
        <div class="general-information">
          <h4>User-Information</h4>
          <span></span>
        </div>
        <div>
          <h5>Email:&nbsp;</h5>
          <span>{{ email }}</span>
        </div>
        <div>
          <h5>User:&nbsp;</h5>
          <span>{{ user_number }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
