{% extends 'base.html' %} {% load static %}
<!-- prettier-ignore-start -->
{% block title %} Dashboard {%endblock %}
<!-- prettier-ignore-start -->
{% block content %}

<div class="main-content">
    <div class="title">
        <h1>Table Data</h1>
    </div>
    <div class="main-content-boxes wide">
        <div class="box">
            <select id="tableOption" class="table-option">
                <option value="expense">Expense</option>
                <option value="income">Income</option>
            </select>

            <div class="table-responsive">
                <table class="styled-table" id="fullTable">
                    <thead></thead>
                    <tbody>
                        <!-- Rows will be inserted here dynamically -->
                    </tbody>
                </table>

                <button class="btn-secondary editButton" id="editTable" style="display: none !important;">
                    Edit
                </button>

                <div class="pagination-buttons">
                    <button class="primary-button" id="prevPage">Previous Page</button>
                    <button class="primary-button" id="nextPage">Next Page</button>
                </div>
            </div>
        </div>
    </div>


</div>
<script src="{% static 'js/table.js' %}"></script>
{% endblock %}