{% extends 'base.html' %} {% load static %}
<!-- prettier-ignore-start -->
{% block title %} Data {%endblock %}
<!-- prettier-ignore-start -->
{% block content %}
<script src="{% static 'js/pages/table.js' %}"></script>

<div class="main-content">
    <div class="title">
        <h1>Data</h1>
    </div>
    <div class="main-content-boxes wide">
        <div class="box">
            <select id="tableOption" class="table-option">
                <option value="expense">Expense</option>
                <option value="income">Income</option>
                <option value="assets">Assets</option>
            </select>

            <div class="table-responsive">
                <table class="data-table" id="fullTable">
                    <thead></thead>
                    <tbody>
                        <!-- Rows will be inserted here dynamically -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
