{% extends "base.html" %} {% load static %}

<!-- prettier-ignore-start -->
{% block title %} Richtato {% endblock %}
<!-- prettier-ignore-end -->

{% block content %}
<script>
  var staticImagePath = "{% static 'media/moneytree.png' %}";
</script>

<div class="welcome-page">
  <div class="welcome-center">
    <div class="gif-container">
      <img
        src="{% static 'media/moneytree.gif' %}"
        alt="Growth GIF"
        class="growth-gif"
        id="growth-gif"
      />
    </div>
    <div class="typewriter">
      <div class="typewriter-text welcome-title">Save with Richtato!</div>
    </div>
    <p class="welcome-subtitle">Your personal finance management solution</p>
  </div>
</div>

<script src="{% static 'js/utils/common.js' %}"></script>
{% endblock %}
