{% extends "layout.html" %}
{% load static %}
{% load humanize %}
{% block body %}

<div class="page-container">
    <div class="page-title">
        <h1>Accounts and Networth</h1>
        <h2>Networth: ${{ networth|floatformat:2|intcomma }}</h2>
    </div>

    <h2>Latest Data</h2>
    <div class="bar-chart">
        <canvas id="pieChart"></canvas>
    </div>

    <br>
    <br>
    
    <h2>Historical Data</h2>
    <div class="bar-chart">
        <div class="year-filter">
            <label for="year-filter">Year:</label>
            <select id="year-filter" name="year-filter">
                {% for year in years %}
                    <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
            </select>
        </div>
        <canvas id="barChart"></canvas>
    </div>

    <div class="detailed-table" style="display: none;">
        <div class="table-header">
            <h2 class="table-title" id="detailed-table-title-1"></h2>
            <h2 class="table-title" id="detailed-table-title-2"></h2>
        </div>

        <table class="styled-table" id="details-table-accounts">
            <thead>
            </thead>
            <tbody>
                <!-- Rows will be inserted here dynamically -->
            </tbody>
        </table>

        <button class="btn-secondary editButton" id="detailsTableEditButton">Edit</button> 
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="login-form">
        <h2 class="subtitle">Update Account Balance</h2>
        <form method="post" action="{% url 'add_account_history' %}">
            {% csrf_token %}

            <!-- Account field -->
            <div class="form-group">
                <label for="account">Account:</label>
                <select class="form-control" id="account-id" name="account-id" required>
                    {% for item in accounts_data %}
                        <option value="{{ item.accounts_data.account.id }}">{{ item.accounts_data.account.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <br>

            <br>

            <!-- Amount field -->
            <div class="form-group">
                <label for="amount">Amount:</label>
                <input class="form-control" type="number" step="0.01" id="balance-input" name="balance-input" required>
            </div>

            <br>
            
            <!-- Date field -->
            <div class="form-group">
                <label for="date">Date:</label>
                <input class="form-control" type="date" id="balance-date" name="balance-date" value="{{ today_date }}" required>
            </div>

            <br>

            <button type="submit" class="btn-secondary">Update</button>
        </form>
    </div>
</div>

<script>
    
    document.addEventListener('DOMContentLoaded', () => {
        const piedataUrl = "{% url 'plot_accounts_data_pie' %}";
        const graphDataUrl = "{% url 'plot_accounts_data' %}";
        const tableDataUrl = "{% url 'get_accounts_data_json' %}";
        const yearFilter = document.getElementById('year-filter');

        if (yearFilter) {
            const initialYear = yearFilter.value;
            console.log("Initial selected year:", initialYear);

            pieChartData(piedataUrl, 'pieChart');
            plotBarChart(graphDataUrl, 'barChart', 'details-table-accounts', tableDataUrl, initialYear);
            
            // Add event listener for when the year filter changes
            yearFilter.addEventListener('change', () => {
                const selectedYear = yearFilter.value;
                console.log("Year filter change event triggered, selected year:", selectedYear);
                plotBarChart(graphDataUrl, 'barChart', 'details-table-accounts', tableDataUrl, selectedYear);
            });
            
        } else {
            console.error("Year filter element not found!");
        }
    });


    async function pieChartData(url, canvasId) {
        try {
            const response = await fetch(url);
            const data = await response.json();
            console.log("Pie chart data:", data);
            const ctx = document.getElementById(canvasId).getContext('2d');
            const myChart = new Chart(ctx, {
                type: 'doughnut',  // Use 'doughnut' type for the chart
                data: data,
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top'  // Position the legend at the top
                        },
                        tooltip: {
                            enabled: true  // Enable tooltips
                        },
                    }
                },
            });
        } catch (error) {
            console.error("Error fetching pie chart data:", error);
        }
    }

</script>
{% endblock %}
